:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(229, 229, 229);
}
.container {
  display: flex;
  flex-direction: column;
  width: 1120px;
  height: 279px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
}

.monthNames {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 75px 140px 5px 133px;
}

.weeks {
  margin: 15px 5px 30px 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.weeks span {
  margin-bottom: 18.5px;
}

.monthNames span,
.weeks span,
.levelContainer span {
  color: #959494;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.weeksAndCells {
  display: flex;
  height: 117px;
}

.cellContainer {
  width: 865px;
  height: 117px;
  display: grid;
  grid-template-columns: repeat(51, 15px);
  grid-template-rows: repeat(7, 15px);
  grid-auto-flow: column;
  gap: 2px;
}

.levelContainer {
  display: flex;
  margin: 15px 838px 57px 116px;
}

.cellBox {
  display: grid;
  grid-template-columns: repeat(5, 15px);
  gap: 2px;
  width: 83px;
  margin-left: 6.45px;
  margin-right: 10px;
}

.cell {
  width: 15px;
  height: 15px;
  background-color: #EDEDED;
}

.nine {
  background-color: #ACD5F2;
}

.nineteen {
  background-color: #7FA8C9;
}

.twentyNine {
  background-color: #527BA0;
}

.thirtyPlus {
  background-color: #254E77;
}

.cell:hover {
  position: relative;
  width: 17px;
  height: 17px;
  margin-top: -1px;
  margin-left: -1px;
  border: 1px solid rgba(0, 0, 0, 0.50);
}
